---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import '@styles/global.css'

interface Props {
  title: string;
  description?: string;
}

const { title, description = "AP Consulting - Consultoría - Innovación - Inversiones - Operaciones  Tecnología - Valor Integral" } = Astro.props;
---

<!DOCTYPE html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href=`${import.meta.env.BASE_URL}/favicon.svg` />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="font-sans bg-[#DCE6F2]">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>